
<html>
	<head>
		<title>Sudoku Game</title>
		<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>Life is too short for playing Sudoku!!</h1>
		<img src='/images/heart-broken-black-love.jpg'>
		<ul class='levels'>
			<li><a href= /?level=Easy> <button class='level'>Easy</button></a></li>
			<li><a href= /?level=Hard> <button class='level'>Hard</button></a></li>
		</ul>	
		<div id="flash">
  			<%= flash[:notice] %>
			</div>
		<form action="/" method="post">
			<div id="sudoku">
				<% 3.times do |row| %>
					<div class='row'>
						<% 3.times do |box| %>
							<div class='box'>
								<% 3.times do |cell_row| %>
									<div class='cell_row'>
										<% 3.times do |cell| %>
										 <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
										<% end %>
									</div>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<button class='check'>Is it ok so far&#63;</button>		
		</form>
		<a href= /solution> <p class='give_up'>I give up! show me the solution, plz!!!!</p></a>
	</body>
</html>